.welcome {
    padding-top: 10px;
    text-align: center;
    font-size: 20px;
}

.cont_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background: rgb(147, 129, 255);
    width: 300px;
    margin: 5% auto 0 auto;
    transition: background-color 1s linear;
}

.formhelp {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cont_form form {
    text-align: center;
}


.cont_form p {
    font-size: 20px;
    color: #0a0a0a;
}

.formhelp p {
    text-align: center;
    font-size: 18px;
    color: #0a0a0a;
    margin-bottom: 1px;
}

.formhelp a {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #7a0cff;
}

.cont_form button {
    width: 70%;
    background: #d50c45;
    border-radius: 3px;
    margin: 30px auto 30px auto;
}

.cont_form:hover {
    background-color: rgb(255, 133, 158);
}

.input {
    margin: 10px;
}

.frmBtn {
    margin: 10px;
    padding: 10px 65px;
}

@media (max-width: 1000px) {
    .formhelp {
        font-weight: bold;
        margin-bottom: 15px;
    }

    .formhelp p {
        font-size: 21px;
        color: #9381ff;
    }

    .formhelp a {
        font-size: 21px;
        text-decoration: none;
        color: #ec87ff;
    }
}
